*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;

}


#app {
    position: relative;
    width: 414px;
    height: 420px;
    border: solid black;
    display: block;
    margin: auto;
    text-align: center;
    padding: 40px 0px;
    overflow: hidden;
    border-radius: 45px;
    background-color: #87CEEB; 

}


#searchBar {
    display: flex;
    padding: 0 40 px;
    margin-bottom: 30px;
}


#searchBarInput {

    background-color: none;
    border: none;
    outline: none;
    width: 90%;
    background-color: transparent;
    color: #fff;
    border-bottom: solid 1px lightblue;
}
